{% extends "layout.html" %}

{% block content %}
    <div class = 'intro-box'> 
        <article class="mx-auto bg-white p-5 my-5 shadow-lg text-justify">
            <h1> Hello, my name is Charles.</h1>
            <p> I am a 23-year-old Malaysian postgraduate student currently pursuing a <mark>MA in Mathematics of Finance</mark> at Columbia University 
                graduating Dec 2022. I recently graduated from Singapore Management University with a double degree in Bachelor's of Science (Economics) and Bachelor's of Business Management
                , and I am now taking my next steps towards building a career in <b>risk and asset management</b>. Specifically, I am seeking out <b>quant research</b> positions, with 
                the goal of becoming a quant fund manager. </p> 
            <p> My academic journey in mathematics started 13 years ago, when I was first exposed to the world of mathematical olympiad. Through a regional (APAC) mathematical 
                olympiad competition organized by Hwa Chong Institution, I was fortunate enough to receive a full scholarship to pursue secondary education in 
                Singapore. From then on, I further explored my passion for <b>applied mathematics</b> and found moderate success in 
                mathematics team research project competitions. Of the two projects that I embarked on, with research topics 
                of <i>pseudorandom generators</i> and <i>chaos in newton’s method</i>, the former won the top prize at the <a href = 'https://sms.math.nus.edu.sg/index.php/smpf/'>
                Singapore Mathematics Project Festival</a> in 2013. Interestingly, both projects were conducted using computer simulations, perhaps hinting at 
                my eventual interest in studying <b>mathematical models with stochastic elements</b>. </p> 
            <p> In my undergraduate studies, I focused my training on the theoretical aspects of <b>econometrics</b> and <b>time series models</b>, via the <a href 'https://economics.smu.edu.sg/bachelor-science-economics/curriculum/tracks'>
                Quantitative Economics Track</a> at SMU. My undergraduate teaching and research assistantship stints under <a href = 'https://economics.smu.edu.sg/faculty/profile/966/chow-hwee-kwan'>
                Prof Chow Hwee Kwan</a> allowed me to develop my statistical intuition and uncover my passion for mathematical finance. </p>
            <p> I am currently working on incorporating NLP and Deep Learning models into my research on factor investing and systematic trading. My 5-year goal involves publishing an academic paper on asset management, attaining a CFA charter, 
                and possibly pursuing a PhD in Economics. My dream is run my own quant fund some years down the road, and retire with a strawberry farm and a pastry store by the side. If you find my journey interesting, 
                feel free to follow my work on this website. :)</p>
            <p> If you have any questions, or would like to collaborate in any capacity, do contact me via the following channels: </p>
                <li> Email: charlesyew98@gmail.com </li>
                <li> Mobile: +1(929) 810-6145 </li>
                <li> Telegram: @tzeyongyew </li>
        </article>
    </div>
{% endblock %}
